###################
# General config
# V.01
###################

API_PORT=5555

###################
# Database config
# V.01
###################

DB_TYPE=mongodb
DB_USER=admin
DB_PASSWORD=pwd123
DB_DATABASE=journey